.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.card {
  transition: 200ms;
  animation: grow 0.5 ease;
}
